*{
    padding: 0px;
    margin: 0px;
}

.main-box{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 762px;

}

.left-box{
    display: flex;
    flex-direction: column;
    width:350px;
    height: 780px;
    background-color: #D2D2D2;
    
}

.details{
    margin-top: 30px;
    padding: 10px;
}

.details img{
    float: left;
}

.content{
    text-align: center;
}

.menu{
    margin-left: 50px;
    height: 200px;
}

.menu ul li img{
    padding: 15px;
}

.menu ul li{
    list-style-type: none;
}

.menu ul li a{
    text-decoration: none;
    text-align: left;
    font-weight: bolder;
    color: black;
}

.menu ul li a:hover{
    font-weight: 60px;
}

.pending-tasks{
    background-color: #FFFFFF;
    width: 250px;
    height: 350px;
    margin-left: 50px;
    border-radius: 10px;
}

.pending-tasks ul{
    padding: 30px;
}

.pending-tasks ul li{
    padding: 20px;
    list-style-type: none;
    font-weight: bolder;
}
